* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#shape {
  height: 100px;
  width: 100px;
  background-color: rgb(40, 43, 43);
  position: absolute;
  border-radius: 10%;
  display: none;
}

header {
  text-align: center;
  background-color: #252525;
  color: bisque;
  font-size: 1.2rem;
  padding: 10px;
}

#result,
#best {
  padding: 10px;
  color: red;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
